--
-- Hub View definition for {{generationSpecificMetadata.selectedDataObjec.namet}}
-- Generated at {{generationSpecificMetadata.generationDateTime}}
--

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[{{metadataConfiguration.vdwSchemaName}}].[{{generationSpecificMetadata.selectedDataObject.name}}]') AND type in (N'V'))
DROP VIEW [{{metadataConfiguration.vdwSchemaName}}].[{{generationSpecificMetadata.selectedDataObject.name}}]
GO

CREATE VIEW [{{metadataConfiguration.vdwSchemaName}}].[{{generationSpecificMetadata.selectedDataObject.name}}] AS
SELECT hub.*
FROM (
{{#each dataObjectMappings}}{{#if @first}}
SELECT
    HASHBYTES('MD5', {{#each businessKeys}} {{#if @first}} {{!-- Create the Surrogate Key using the Business Key and components --}}
    {{#each businessKeyComponentMapping}}
      ISNULL(RTRIM(CONVERT(NVARCHAR(100), {{targetDataItem.name}})), 'N/A') + '#~!'{{#unless @last}} +{{/unless}} 
    {{/each}}
    ) AS {{surrogateKey}},{{/if}}{{/each}}
    -1 AS {{../metadataConfiguration.etlProcessAttribute}}, {{!-- List out the ETL Framework attributes --}}
    MIN({{../metadataConfiguration.loadDateTimeAttribute}}) AS {{../metadataConfiguration.loadDateTimeAttribute}},
    {{../metadataConfiguration.recordSourceAttribute}},{{#each businessKeys}} {{!-- The Hub business key --}}
    {{#each businessKeyComponentMapping}}
    {{targetDataItem.name}},{{/each}}{{/each}}
    ROW_NUMBER() OVER (PARTITION BY {{#each businessKeys}}{{#each businessKeyComponentMapping}} {{!-- Create a row number to enable selection only the earliest row, ordered by date/time --}}
       {{targetDataItem.name}}{{#unless @last}},{{/unless}}{{/each}}
    {{/each}}
    ORDER BY 
       MIN({{../metadataConfiguration.loadDateTimeAttribute}})
    ) AS ROW_NR
FROM 
( {{/if}}{{/each}}
    {{#each dataObjectMappings }}
    SELECT {{#each businessKeys}}{{#each businessKeyComponentMapping}}
        CAST({{sourceDataItems.0.name}} AS NVARCHAR(100)) AS {{targetDataItem.name}},{{/each}}{{/each}}
        {{../metadataConfiguration.recordSourceAttribute}},
        MIN({{../metadataConfiguration.loadDateTimeAttribute}}) AS {{../metadataConfiguration.loadDateTimeAttribute}}
    FROM [{{sourceDataObjects.0.dataObjectConnection.extensions.1.value}}].[{{sourceDataObjects.0.name}}]
    WHERE {{#each businessKeys}}{{#each businessKeyComponentMapping}}
        {{sourceDataItems.0.name}} IS NOT NULL{{#unless @last}} AND{{/unless}}{{/each}}{{/each}}
        {{#if filterCriterion}}AND {{filterCriterion}}{{/if}}
    GROUP BY 
        {{#each businessKeys}}{{#each businessKeyComponentMapping}}{{#each sourceDataItems}}{{#stringcompare isHardCodedValue "True"}}{{else}}{{name}},{{/stringcompare}}{{/each}}{{/each}}{{/each}}
        {{../metadataConfiguration.recordSourceAttribute}}
    {{#unless @last}}UNION{{/unless}}
    {{/each}}
) HUB_selection {{#each dataObjectMappings}}{{#if @first}}
GROUP BY {{#each businessKeys}}{{#each businessKeyComponentMapping}}
    {{targetDataItem.name}},{{/each}}{{/each}}
    {{../metadataConfiguration.recordSourceAttribute}} {{/if}}{{/each}}
) hub
WHERE ROW_NR = 1
UNION
SELECT 
  0x00000000000000000000000000000000,
  - 1,
  '1900-01-01',
  'Data Warehouse',{{#each dataObjectMappings}}{{#if @first}}{{#each businessKeys}}{{#each businessKeyComponentMapping}}
  'Unknown',{{/each}}{{/each}}{{/if}}{{/each}}
  1 AS ROW_NR
